[*.gd]
gdscript_formatter_format_on_save = true
indent_style = space
indent_size = 4
max_line_length = 100
insert_final_newline = true
trim_trailing_whitespace = true
gdscript_formatter_quote_style = double
