# --------------------------------------------------------------------------------------
# | General                                                                            |
# --------------------------------------------------------------------------------------

# ==============================
# IDE
# ==============================
# IntelliJ
.idea/

# VS Code
.vscode/
*.vsix
# Local History for Visual Studio Code
.history/
# from vscode or an extension
cache.txt

# ==============================
# Certificates
# ==============================
*.pem
*.crt
*.csr
*.ext
*.key
*.srl

# ==============================
# Backups
# ==============================
*.bak
.local_backup/

# ==============================
# Databases
# ==============================
*.db
*.sqlite
*.sqlite3

# ==============================
# Configs
# ==============================
*.list
.htpasswd

# ==============================
# Environments
# ==============================
*.env
env
ENV

# ==============================
# Logs
# ==============================
logs/
*.log*

# ==============================
# Translations
# ==============================
*.mo
*.pot

# --------------------------------------------------------------------------------------
# | nodeJS                                                                             |
# --------------------------------------------------------------------------------------

# ==============================
# Tool/Lib installation dir
# ==============================
node_modules/

# ==============================
# React
# ==============================

# dependencies
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# ==============================
# Logs
# ==============================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --------------------------------------------------------------------------------------
# | Python                                                                             |
# --------------------------------------------------------------------------------------

# ==============================
# Byte-compiled / optimized / DLL files
# ==============================

__pycache__/
*.py[cod]
*$py.class

# ==============================
# C extensions
# ==============================
*.so

# ==============================
# Distribution / packaging / installer
# ==============================
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# ==============================
# Unit test / coverage reports
# ==============================
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*,cover
.hypothesis/
.pytest_cache/
.coverage_cache/
.junit_cache/

# ==============================
# Type checking
# ==============================
.mypy_cache/
.pyre/
.pytype/

# ==============================
# Frameworks
# ==============================
# Django stuff:
*.log
*.log*
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# ==============================
# Documentation
# ==============================
# Sphinx documentation
docs/_build/

# mkdocs documentation
/site

# ==============================
# Tooling artifacts
# ==============================
# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# ==============================
# Environments
# ==============================
.tox/
.nox/
.env
.flaskenv
env/
*venv*/
ENV/
